img{
    width: 400px;
    height: 200px;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}
.pagination{
    width: 130px;
    display: flex;
    justify-content: space-between;
}
.product-list{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.product {
    margin-right: 30px;
}